{% extends "base.html" %}
{% block title %} Сбрось свой пароль {% endblock %}
{% block content %}
<h1>Сбрось свой пароль</h1>
{% if validlink %}
<p>Пожалуйста повторите ваш новый пароль дважды:</p>
<form method="post">
    {{ form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Сменить ваш пароль"></p>
</form>
{% else %}
<p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже
была использована. Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}